{% extends 'index.html' %}


{% block content %}


{%block navbar%}
 <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top" id="mainNav" style="opacity: 1;">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#">Recowatch</a><button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a class="nav-link active js-scroll-trigger" href="{{ url_for('index') }}">About</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('index') }}">Find Film</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('index') }}">Fun Fact</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a class="nav-link js-scroll-trigger" href="{{ url_for('index') }}">Article</a></li>
                </ul>
            </div>
        </div>
    </nav>
{%endblock%}



	<section id="about" class="content-section text-center" style = "background-image: url(static/img/bg10.jpg);opacity: 1;filter: hue-rotate(0deg);" >
        <div class="container"  >
            <div class="row">
                <div class="col-lg-8 mx-auto">
                        <h2>
                        Sorry, we currently unable to give you recomendation based on that. Maybe you should try:
                        </h2>
                    <br><br>
                    <div class="bawah">
                        {%for data in hasil%}
                        <h4>
                            {{ data }}
                        </h4>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


